<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web API Error</title>
	<link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>Weather Data API Error</h1>
	<br>
	<div>
		<h3><%= err.message %></h3>
		<p><%= err.stack %></p>
	</div>
	<br>
	<a href="/">Search Again</>
</body>

</html>